*{
    font-family: 'Oswald',sans-serif;
    margin: 0;
}

.bodyTodos{
    background-color: white;
}

.mainContactos{
    background-image: url("imagenes/imagenForm.jpg");
    width: 100%;
    height: 100%;
    margin: 0;
}

/*Index*/

#paginas{
    text-align: center;
    background-color: white;
    padding: 1% 11% 1% 11%;
    border: 1px solid rgb(74, 224, 86) ;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px;  
    justify-content:space-evenly;
    font-family: 'Oswald', sans-serif;
}

nav#paginas a:hover{
    text-decoration: underline;
}

a{
    color: rgb(72, 187, 72);
    text-decoration: none;
    background-color: white;
    font-weight: bolder;
    display: block;
    font-family: 'Oswald', sans-serif;
}

.banner{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
    border: 1px solid rgb(74, 224, 86);
    border-radius: 10px 10px 10px 10px;
}

.titulo1Index{
    text-align: center;
    color:  rgb(72, 187, 72);
    font-weight: 100; 
    font-size: 30px;
    text-decoration: underline;
    border-style:dotted;
    border-color:rgb(74, 224, 86);
    border-radius: 10px 10px 10px 10px;
    margin: 1%;
    padding: 1%;
    font-family: 'Oswald', sans-serif;
}

.textoHome{
    border-color: rgb(74, 224, 86);
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    margin: 1%;
    padding: 1%;
    font-family: 'Oswald', sans-serif;
}

.textoPagina{
    align-content: center;
    align-items: center;
    padding: 2% 12% 2% 12%;
    position: relative;
    font-family: 'Oswald', sans-serif;
    display: block;
    /*border-color: rgb(74, 224, 86);
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    margin: 1%;
    padding: 1%;*/
}

.parrafoIndex{
    text-align: justify;
    padding: 1%;
    margin:1%;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
}

.imagenRecetaHome {
    width: 70%;
    height: 50%;
    margin-left: 25px;
}

.imagenTiendasHome {
    width: 70%;
    height: 50%;
    margin-left: 40px;
}

.imagenRestauranteHome{
    width: 70%;
    height: 50%;
    margin-left: 40px;
}

.guiaHome{
    border-color: rgb(74, 224, 86);
    border-style: groove;
    border-radius: 10px 10px 10px 10px;
    margin: 1%;
    padding: 1%;
}

.ulPaginasInternas{
    text-align: left;
    margin-left: 0%;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
}

.ulPaginasInternas a{
    background-color: white;
    font-family: 'Oswald', sans-serif;
}

div.paginasInternas a:hover{
    text-decoration: underline;
}

.liPaginasInternas{
    text-align: left;
    margin-left: 30%;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
}

/*Recetas*/

/* Estilo del Buscador */

input[type="text"] {
    width: 100px;
    font-size: 13px;
    margin: 5% 1% 1% 12%;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  button[type="botonBuscar"]{
    font-size: 13px;
} 

.textoRecetas{
    border-color: rgb(74, 224, 86);
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    margin: 1%;
    padding: 1%;
    font-family: 'Oswald', sans-serif;
}

.parrafoRecetas{
    text-align: justify;
    padding: 1%;
    margin: 1%;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
}

.seccionRecetas{
    align-content: center;
    align-items: center;
    padding: 2% 12% 2% 12%;
    position: relative;
    font-family: 'Oswald', sans-serif;
    display: block;
    border-style: none;
}

.titulo2{
    font-size: 15px;
    padding-left: 15%;
    padding-right: 15%;
}

.articleRecetas{
    border-style: none;
}

.videoRecetas{
    text-align:center;
    color: rgb(15, 14, 14);
    margin: 1%;
    padding: 1%;
    border-radius: 10px 10px 10px 10px;
}

/* Tiendas */

.introTiendas{
    border-color: rgb(74, 224, 86);
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    margin: 1%;
    padding: 1%;
    font-family: 'Oswald', sans-serif;
}

.seccionTiendas2{
    align-items: center;
    padding: 1% 10% 1% 10%;
    font-family: 'Oswald', sans-serif;
}

.parrafosTienda{
    text-align: justify;
    padding: 1%;
    margin:1%;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
}

.tiendaslp{
    border-color: rgb(74, 224, 86);
    border-style: groove;
    border-radius: 10px 10px 10px 10px;
    margin: 1%;
    padding: 1%;
}

.tiendasFisicas{
    align-items: center;
    padding: 1% 10% 1% 10%;
    font-family: 'Oswald', sans-serif;
}

.titulo3{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-decoration: underline;
    font-size: 14px;
    line-height: 50px;
}

/*.taraVerde{
    display: block;
    text-align: center;
}*/

.linksInstagram{
    text-align: left;
    font-size: 15px;
}

/*.esUnMonton{
    display: block;
    text-align: center;
}

.amazoniaHelados{
    display: block;
    text-align: center;
}

.laCompostera{
    display: block;
    text-align: center;
}*/

.imagenTiendas{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    width: 100%;
}

.ubicacionTiendas{
    width: 100%;
    height: 30%;
    display: block;
    margin: 0 auto;
}

/*donde comer*/

.tituloDondeComer{
    text-align: center;
    color:  rgb(72, 187, 72);
    font-weight: 100; 
    font-size: 30px;
    text-decoration: underline;
    border-style:dotted;
    border-color:rgb(74, 224, 86);
    border-radius: 10px 10px 10px 10px;
    margin: 1%;
    padding: 1%;
    line-height: 1.5;
    font-family: 'Oswald', sans-serif;
}

.textoDondeComer{
    border-color: rgb(74, 224, 86);
    border-style: solid;
    border-radius: 10px 10px 10px 10px; 
    font-family: 'Oswald', sans-serif;
}

.seccionDondeComer{
    align-items: center;
    font-family: 'Oswald', sans-serif;
    border-color: rgb(74, 224, 86); 
    border-style: solid;
    border-width: 2px;
    border-radius: 10px 10px 10px 10px;
    margin: 1%;
    padding: 1%;
}

.parrafosDondeComer{
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
}

.guiaDondeComer{
    border-color: rgb(74, 224, 86);
    border-style: solid;
    border-radius: 8px 10px 8px 10px;
}

.titulo4{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
}

iframe{
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

.framheim{
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
}

.hans{
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
}

.flamasBurgerCo{
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
}

/*Almacén*/

.tituloAlmacen{
    text-align: center;
    color:  rgb(72, 187, 72);
    font-weight: 100; 
    font-size: 30px;
    text-decoration: underline;
    border-style:dotted;
    border-color:rgb(74, 224, 86);
    border-radius: 10px 10px 10px 10px;
    margin: 1%;
    padding: 1%;
    font-family: 'Oswald', sans-serif;
}

.productos{
    margin: 2px;
    border-style:dotted;
    border-color:rgb(74, 224, 86);
    border-radius: 10px 10px 10px 10px;
}

article{
    text-decoration: none;
    border-color: rgb(74, 224, 86); 
    border-style: solid;
    border-width: 2px;
    border-radius: 10px 10px 10px 10px;
    margin: 1%;
    padding: 1%;
    font-family: 'Oswald', sans-serif;
}

h2{ 
    text-align: center;
    color:  rgb(72, 187, 72);
    text-decoration:underline;
    margin: 1%;
    padding: 1%;
    font-size: 20px;
}

h3{
    text-align: left;
    color:  rgb(72, 187, 72);
    text-decoration:underline;
    margin-left: 15px;
    padding: 1%;
    font-size: 15px;
}

img{
    width: 50%;
    margin: 5px 5px 5px 40px;
}

p{
    /*margin: 2px 0 2px 20px;*/
    font-size: 13px;
    padding-left: 15%;
    padding-right: 15%;
}

button{
    /*margin: 2px 0 2px 20px;*/
    font-size: 13px;
    margin-left: 40px;
}

article2{
    text-decoration: none;
    margin: 1%;
    padding: 1%;
    font-family: 'Oswald', sans-serif;
    color: black;
}

article2 h3{
    color: black;
    flex-wrap: wrap ;
}

section#carrito{
    border-style: groove;
    border-color:rgb(74, 224, 86);
    border-radius: 10px 10px 10px 10px;
    margin: 1%;
    padding: 1%;
}

/*Contactos*/

.contenidoFormulario{
    padding: 20px;
}

.formContactos{
	width:60%;
    height: 50%;
	padding:25px;
	border-radius:10px;
	margin:auto;
	background-color:#7dc789;
}

.tituloContactos {
    text-align: center;
    color: white;
    font-size: 25px; 
    margin: auto;
    padding: 1px 1px 15px 1px;
    font-weight: bold;
    background-color: #7dc789;
    font-family: 'Oswald', sans-serif;
}

form label{
	width: 75px;
	font-weight: normal;
    font-size: 15px;
	display:inline-block;
    background-color: #7dc789;
    color: white;
    font-family: 'Oswald', sans-serif;
}

form input[type="text"],
form input[type="email"]{
	width:90px;
	padding:5px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color: #f6f6f6;
	margin:8px 10px 10px 50px;
	display:inline-block;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
}

form input[type="submit"]{
	width:100%;
	padding: 8px 16px;
	margin-top:32px;
    margin-bottom: 32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#137708;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

form input{
    font-size: 13px;
}

textarea{
	width:100%;
	height:50px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:10px 0;
    resize: none;
	display:block;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
}

footer{
    background-color: rgb(72, 187, 72);
    padding: 1% 11% 1% 11%;
    border: 1px solid rgb(72, 187, 72) ;
    font-size: 10px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;  
}

footer a{
    background-color: rgb(72, 187, 72);
}

.redSocial{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.redSocial{
    font-size: 30px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.redFacebook{
    text-align: right;
    margin-right: 10%;
}

.redInstagram{
    text-align: left;
    margin-left: 10%;

}

.redes{
    width: 20%;  
}

/*Medias queries*/

@media (min-width: 768px) {
    nav#paginas a{
        display:inline;
        padding: 0% 1% 0% 1%;
        font-size: 22px;
    }

    .titulo1Index{
        font-size: 50px;
    }

    .textoPagina{
        display: flex;
    }

    .imagenRecetaHome {
        width: 50%;
    }
    
    .imagenTiendasHome {
        width: 40%;
    }
    
    #tiendaGiro{
        display: flex;
        flex-direction: row-reverse;
    }

    .imagenRestauranteHome{
        width: 60%;
    }

    .parrafoIndex{
        font-size: 20px;
    }

    .ulPaginasInternas{
        font-size: 20px;
        padding: 2%;
    }

    .liPaginasInternas{
        font-size: 20px;
    }

    /*Recetas*/

    /* Estilo del Buscador */

    input[type="text"] {
        width: 300px;
        font-size: 20px;
    }
    
    button[type="botonBuscar"]{
        font-size: 20px;
    } 

    .parrafoRecetas{
        font-size: 20px;
        margin-left: 2px
    }

    .titulo2{
        font-size: 22px;
    }

    #articleRecetas2{
        margin-left: 70px;
        display: flex;
        padding-left: 140px;
        padding-right: 140px;
    }

    .articleRecetas{
        margin: 5px 1px 10px 5px;
        display: grid;
        grid-template-columns: repeat(2,50%);  
    }

    /* Tiendas */

    .parrafosTienda{
        font-size: 20px;
    }

    .titulo3{
        font-size: 21px;
    }

    .imagenTiendas{
        width: 60%;
    }

    .linksInstagram{
        font-size: 20px;
    }

    .ubicacionTiendas{
    width: 60%;
    }

    /*Donde comer*/
    
    .tituloDondeComer{
        font-size: 50px;
        margin-top: 1.4%;
        margin-left: 0.5%;
        margin-bottom:0.5%;
    }

    .titulo4{
        font-size: 21px;
    }

    .parrafosDondeComer{
        font-size: 20px;
    }
    
    .reseñasFramheim article{
        width: 48%;
    }

    .reseñasHans article{ 
        width: 48%;
    }
        
    .reseñasFlamasBurgerCo article{
        width: 48%;
    }

    .seccionDondeComer{
        margin: 0.5%;
       
    }

    /*Almacen*/

    .tituloAlmacen{
        font-size: 50px;
        margin:0.5%;
    }

    h2{
        font-size: 30px;
    }

    h3{
        font-size: 22px;
    }

    p{
        font-size: 17px;
    }

    button{
        font-size: 17px;
    }

   #productos{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*Contactos*/

    .formContactos{
        width:45%;
        height: 100%;
        margin: 0 15px 0 55px;
    }
    
    .tituloContactos{
        font-size: 45px; 
    }

    form label{
        font-size: 22px;
    }
    
    form input[type="text"],
    form input[type="email"]{
        padding:15px 10px;
        width: 150px;
        font-size: 20px;

    }
    
    form input[type="submit"]{
        font-size: 22px;
    } 
    
    form input{
        font-size: 20px;
    }

    textarea{
        height:70px;		
        font-size: 20px;
    }

    footer{
        font-size: 16px;
    }

    .redes{
        width: 12%;
    }
    
}

@media (min-width: 1024px) {
    nav#paginas a{
        font-size: 25px;
    }

    .titulo1Index{
        font-size: 55px;
    }

    .parrafoIndex{
        font-size: 23px;
    }

    .imagenRecetaHome {
        width: 40%;
    }
    
    .imagenTiendasHome {
        width: 30%;
    }
    
    .imagenRestauranteHome{
        width: 60%;
    }

    .ulPaginasInternas{
        font-size: 23px;
    }

    .liPaginasInternas{
        font-size: 23px;
    }

    /*div.paginasInternas {
        font-size: 25px;
    }*/

    /*Recetas*/

    .parrafoRecetas{
        font-size: 23px;
    }

    .titulo2{
        font-size: 25px;
    }

    /* Tiendas */

    .parrafosTienda{
        font-size: 23px;
    }

    .titulo3{
        font-size: 24px;
    }

    .imagenTiendas{
        width: 50%;
    }

    .linksInstagram{
        font-size: 24px;
    }

    .ubicacionTiendas{
    width: 50%;
    }

    /*Donde comer*/
    
    .tituloDondeComer{
        font-size: 55px;
    }

    .parrafosDondeComer{
        font-size: 23px;
        padding: 0;
        margin-right: 15%;
        margin-left: 15%;
    }

    .titulo4{
        font-size: 24px;
    }

    /*.reseñasFramhein{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }*/

    .reseñasFramhein article{
        width: 48%;
    }

    /*.reseñasHans{
        display: flex;
        flex-wrap: wrap;
    }

    /*.reseñasFlamasBurgerCo{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }*/

    /*Almacen*/

    .tituloAlmacen{
        font-size: 55px;
    }
 
    h2{
        font-size: 40px;
    }

    h3{
        font-size: 25px;
    }

    p{
        font-size: 23px;
        margin-left: 9%;
        padding-left: 0;
    }

    button{
        font-size: 23px;
    }

    /*Contactos*/

    .formContactos{
        height: 80%;
    }
    
    .tituloContactos{
        font-size: 50px; 
    }
    
    form label{
        font-size: 25px;
    }
    
    form input[type="text"],
    form input[type="email"]{
        width: 300px;
        margin: 8px 0 0 40px;
        font-size: 23px;
    }
    
    form input[type="submit"]{
        font-size: 25px;
    } 
    
     form input{
        font-size: 23px;
    }

    textarea{
        height:90px;
        font-size: 23px;
    }

    footer{
        font-size: 20px;
    }

    .redes{
        width: 10%;
    }
    
}

@media (min-width: 1306px){
    nav#paginas a{
        font-size: 30px;
    }

    .titulo1Index{
        font-size: 60px;
    }

    .parrafoIndex{
        font-size: 20px;
    }

    .ulPaginasInternas{
        font-size: 20px;
    }

    .liPaginasInternas{
        font-size: 20px;
    }

    .imagenRecetaHome {
        width: 30%;
    }

    .imagenTiendasHome {
        width: 25%;
    }

    .imagenRestauranteHome {
        width: 50%;
    }

    /*Recetas*/

    .parrafoRecetas{
        font-size: 20px;
    }

    .titulo2{
        font-size: 30px;
    }

    /* Tiendas */

    .parrafosTienda{
        font-size: 20px;
        padding-left: 4%;
        padding-right: 4%;
        margin: 0;
    }

    .titulo3{
        font-size: 28px;
    }

    .linksInstagram{
        font-size: 23px;
    }

    .imagenTiendas {
        width: 30%;
    }

    /*Donde comer*/

    .tituloDondeComer{
        font-size: 60px;
    }

    .parrafosDondeComer{
        font-size: 20px;
        padding: 0;
        margin-right: 13%;
        margin-left: 13%;
    }

    .titulo4{
        font-size: 28px;
    }

    /*Almacen*/

    .tituloAlmacen{
        font-size: 60px;
    }

    h2{
        font-size: 50px;
    }

    h3{
        font-size: 25px;
    }

    p{
        font-size: 20px;
    }

    button{
        font-size: 22px;
    }

    /*Contactos*/

    .tituloContactos{
        font-size: 50px; 
    }

    form label{
        font-size: 25px;
        width: 150px;
    }

    form input[type="text"],
    form input[type="email"]{
        font-size: 24px;
        
    }

    form input[type="submit"]{
        font-size: 24px;
    } 

    form input{
        font-size: 23px;
    }

    textarea{
        font-size: 23px;
    }
    
    footer{
        font-size: 20px;
    }

    .redes {
        width: 7%;
    }
}
